@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

html{
height:100%;
width:100%;
overflow-x: hidden;
    height:100%;
     font-family: "Roboto";

}

body{

font-size:26px;
height:100%;
width:100%;
margin:0px;
padding:0px;



}


.toptop{
   height:100px;

background-color: #e64a19;
 z-index:1;

width:100%;

}

#toptop1{
   height:100px;
 z-index:1;

background-color: #ff5722;
}

#toptop{
   height:100px;

background-color: #e64a19;

width:100%;

}

#toptop1{
   height:100px;
 z-index:1;

background-color: #ff5722;
}

#toptop3{
   height:100px;
 z-index:1;

background-color: #ff5722;
}

.logo{
padding-left:2.5%;
padding-top:.5%;
   z-index:1;

}

div.nav{
background-color:#F0F0F0;
border-bottom: 1px solid rgba(0,0,0,.3);
 z-index:1;

width:100%;

}



#content{
   margin-top:1%;


}


input[type="checkbox"]{
   width:40px;
   height:28px;
     vertical-align:middle;
}

#check{
text-align:center;


}

#select{
 color:black;
 cursor: pointer;
 z-index:-100000;
 z-index:1;


}

#title{
font-size:48px;
margin:1% 0% 1% 0%;
}


#subhead1,subhead2{
background-color:#F6F6F6;
font-size:30px;
}

table{
width:95%;
margin:0px auto;

border-collapse: collapse;
}

td,th{
    border:2px solid black;
     color: #000000;
}

th{

    background-color:#FF4136;
}


#logo2{

margin-right:2.5%;
display:block;
    margin: 0 auto;

}



.test{
   background-color: blue;
}

/*.footer{
background-color:#F0F0F0;
width: 100%;
left: 0px;
bottom: 0px;
position: absolute;
max-height:40%;
border-top: 1px solid rgba(0,0,0,.3);
padding-bottom:.25%;
}
